.section-divider {
  background-color: var(--color-blue);
  height: 2px;
}
.section-dark {
  background-color: var(--color-white-dark);
  transition: background-color 0.3s ease;
}

html.dark .section-dark {
  background-color: #111827;
}
